:root {
  --color-cyan: theme('colors.cyan');
  --color-red: theme('colors.red');
  --color-grey: theme('colors.grey');
  --color-blue-darkest: theme('colors.blue.darkest');
  --color-violet-darkest: theme('colors.violet.darkest');
  --color-violet-dark: theme('colors.violet.dark');
  --color-violet-neutral: theme('colors.violet.neutral');

  /* ... */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: theme('colors.violet.neutral');
  }

  h1 {
    font-weight: 700;
    font-size: 2.2rem;
    color: theme('colors.violet.dark');
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hero-text {
  text-align: center;
}

.btn-round {
  background-color: theme('colors.cyan');
  color: #fff;
  width: 200px;
  height: 50px;
  padding: 0 25px;
  margin: 35px;
  border-radius: 25px;
  font-size: 1.2rem;
  font-weight: 700;
}

.form {
  /* display: flex;
  flex-flow: column wrap; */
  /* justify-content: center;
  align-items: center; */
  background-color: theme('colors.violet.dark');
  height: 175px;
}

.form_element {
  width: 90%;
  margin: 25px auto 0 auto;
}

input {
  width: 100%;
  height: 50px;
  border-radius: 12px;
  padding-left: 1.2rem;
}

.btn {
  background-color: theme('colors.cyan');
  color: #fff;
  width: 100%;
  height: 50px;
  padding: 0 25px;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 12px;
}

.long_url {
  border-bottom: 1px solid theme('colors.violet.neutral');
}

.short_url {
  color: theme('colors.cyan');
}

@media (min-width: 1220px) {

  .form {
    justify-content: center;
    align-items: center;
  }

  .form_element {
    margin: 0 auto;
  }

  input,
  .btn {
    height: 68px;
  }

}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
