:root {
  --color-cyan: theme('colors.cyan');
  --color-red: theme('colors.red');
  --color-grey: theme('colors.grey');
  --color-blue-darkest: theme('colors.blue.darkest');
  --color-violet-darkest: theme('colors.violet.darkest');
  --color-violet-dark: theme('colors.violet.dark');
  --color-violet-neutral: theme('colors.violet.neutral');

  /* ... */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
